<footer class="footer">
	<div class="content has-text-centered">
		<p>
			<strong>Boilerplate Frontend</strong> by <a href="https://shubhambattoo.github.io">Shubham Battoo</a>. The source
			code is licensed
			<a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
		</p>
	</div>
</footer>
</body>

</html>